In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
data_path = "C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData"

for folder in os.listdir(data_path):
    print(folder)

AdequacaoDocente
DistorcaoIdadeSerie
DocentesCursoSuperior
EsforcoDocente
HorasAulaDiaria
IDEB
INSE
MediaAlunosTurma
RegularidadeDocente
RemuneracaoDocente
TaxaRendimento

#### 1. Teacher Adequacy WorkFlow ####

In [3]:
### Adequacy Path folder with all excel files of years 2013 to 2023 ###
adequacy_path = "c:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/AdequacaoDocente"

### List to store all dataframes ###
adequacy_dfs = []

### Passing through files of each year and adding it into the list ###
for file in os.listdir(adequacy_path):
    file_path = os.path.join(adequacy_path, file)
    df = pd.read_excel(file_path,skiprows=11, header=None)

    ### years 2013 2014, 2015, 2016 have a different pattern than the other. Then, treat it in a different manner ###
    if ('2013' in file) or ('2014' in file) or ('2015' in file) or ('2016') in file:
        df = df.drop(columns=1,axis=0)
        df.columns = [i for i in range(39)]

    adequacy_dfs.append(df)

In [4]:
### will store a unique dataframe with information of all years ###
adequacy_df = adequacy_dfs[0]

### passing through dataframes and concatenating all of them ###
for i in range(1, len(adequacy_dfs)):
    adequacy_df = pd.concat([adequacy_df, adequacy_dfs[i]], axis=0)

adequacy_df

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,2017,Brasil,Total,Total,48.1,0.4,18.6,3.8,29.1,55.7,...,29.4,1.1,39.2,4.3,26,54.9,2.6,29.9,6.8,5.8
1,2017,Brasil,Urbana,Total,49.1,0.4,19,3.9,27.6,60.9,...,35.2,1.3,42.5,4.9,16.1,56,2.6,29.4,6.7,5.3
2,2017,Brasil,Rural,Total,37.7,0.3,14.6,2.2,45.2,33.1,...,10.4,0.4,28.4,2.5,58.3,34.8,2.2,38.5,8.1,16.4
3,2017,Brasil,Total,Federal,45.7,0.6,28.1,10.5,15.1,82.6,...,49.5,3.3,12.1,5.5,29.6,74.5,6.7,7.4,8.7,2.7
4,2017,Brasil,Urbana,Federal,45.2,0.4,28.9,10,15.5,82.7,...,49.5,3.3,12.1,5.5,29.6,74.8,6.9,6.9,8.6,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,Fonte: Censo da Educação Básica 2016/INEP.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,Notas: 1) O docente é contabilizado em cada t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,* Ver nota técnica do indicador para mais info...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,http://download.inep.gov.br/informacoes_estati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
### setting columns name ###
columns = [
           'year', 'region', 'location', 'adm',
           'elem_1', 'elem_2', 'elem_3', 'elem_4', 'elem_5', #elementary education (general)
           'prim_1', 'prim_2', 'prim_3', 'prim_4', 'prim_5', #primary education (general)
           'rem_1', 'rem_2', 'rem_3', 'rem_4', 'rem_5',  #intial years of primary ed -> remove
           'rem_6', 'rem_7', 'rem_8', 'rem_9', 'rem_10', #final years of primary ed -> remove
           'sec_1', 'sec_2', 'sec_3', 'sec_4', 'sec_5', #secondary education (general)
           'rem_21', 'rem_22', 'rem_23', 'rem_24', 'rem_25', # EJA education -> remove
           'rem_26', 'rem_27', 'rem_28', 'rem_29', 'rem_30', # EJA education -> remove
           ]

adequacy_df.columns = columns

### setting columns that we want to remove ###
columns_to_remove = [column for column in columns if 'rem' in column]

In [6]:
### removing trash rows ###
adequacy_df = adequacy_df[adequacy_df["region"].notnull()]
### removing columns ###
adequacy_df = adequacy_df.drop(columns=columns_to_remove, axis=0)

In [7]:
len(adequacy_df['region'].unique())   #must be 33 unique values -> 27 states + 5 region + 1 country

33

In [8]:
adequacy_df.head(2)

,year,region,location,adm,elem_1,elem_2,elem_3,elem_4,elem_5,prim_1,prim_2,prim_3,prim_4,prim_5,sec_1,sec_2,sec_3,sec_4,sec_5
0,2017,Brasil,Total,Total,48.1,0.4,18.6,3.8,29.1,55.7,1.5,18.7,4.1,20,61,3.1,23.6,6.5,5.8
1,2017,Brasil,Urbana,Total,49.1,0.4,19,3.9,27.6,60.9,1.8,17.2,4.4,15.7,61.6,3.1,23.2,6.5,5.6

In [9]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/adequacy_df.csv'
adequacy_df.to_csv(path_to_save)

#### 1.1. Setting a default pattern for all dataframes ####

In [10]:
### all dataframes must have the same regions, adm and location values ###

correct_regions = adequacy_df['region'].unique()
correct_adm = adequacy_df['adm'].unique()
correct_location = adequacy_df['location'].unique()

In [11]:
adequacy_df

,year,region,location,adm,elem_1,elem_2,elem_3,elem_4,elem_5,prim_1,prim_2,prim_3,prim_4,prim_5,sec_1,sec_2,sec_3,sec_4,sec_5
0,2017,Brasil,Total,Total,48.1,0.4,18.6,3.8,29.1,55.7,1.5,18.7,4.1,20,61,3.1,23.6,6.5,5.8
1,2017,Brasil,Urbana,Total,49.1,0.4,19,3.9,27.6,60.9,1.8,17.2,4.4,15.7,61.6,3.1,23.2,6.5,5.6
2,2017,Brasil,Rural,Total,37.7,0.3,14.6,2.2,45.2,33.1,0.5,25.6,2.5,38.3,50.7,2.1,28.8,6.5,11.9
3,2017,Brasil,Total,Federal,45.7,0.6,28.1,10.5,15.1,82.6,1.9,5.4,7.1,3,72.3,7,7.3,11.7,1.7
4,2017,Brasil,Urbana,Federal,45.2,0.4,28.9,10,15.5,82.7,1.9,5.3,7.2,2.9,72.4,6.8,6.8,12.3,1.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,2016,Distrito Federal,Urbana,Privada,38.2,0.9,20.2,10.1,30.6,60.9,2.4,10,11.4,15.3,69,2.8,13.1,11.6,3.5
475,2016,Distrito Federal,Rural,Privada,37.5,0,0,0,62.5,73.3,0,1.1,2.3,23.3,74.2,0,20.6,0,5.2
476,2016,Distrito Federal,Total,Pública,64.6,0.8,21.5,5,8.1,76.7,1.7,13.7,3.5,4.4,80.6,3.1,11.6,3.8,0.9
477,2016,Distrito Federal,Urbana,Pública,64.9,0.8,21.7,4.9,7.7,77,1.7,13.4,3.5,4.4,81,3.1,11.4,3.7,0.8
478,2016,Distrito Federal,Rural,Pública,60,0.7,17.1,5.7,16.5,71.7,2,17.6,3.5,5.2,70,4.7,16.8,6.9,1.6

### 2. Teacher Effort ###

In [12]:
### Passing through files of each year and adding it into the list ###
def get_dfs(folder_path, number_columns,skip_rows):
    list_dfs = []
    for file in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)

        ### years 2013 2014, 2015, 2016 have a different pattern than the other. Then, treat it in a different manner ###
        if ('2013' in file) or ('2014' in file) or ('2015' in file) or ('2016') in file:
            df = df.drop(columns=1,axis=0)
            df.columns = [i for i in range(number_columns)]

        list_dfs.append(df)

    return list_dfs

In [13]:
### will store a unique dataframe with information of all years ###
def get_unique_df(list_dfs):
    unique_df = list_dfs[0]

    ### passing through dataframes and concatenating all of them ###
    for i in range(1, len(list_dfs)):
        unique_df = pd.concat([unique_df, list_dfs[i]], axis=0)

    return unique_df

In [14]:
### putting the unique_df into the format we want ###
def get_df_format(unique_df, columns):
    new_df = unique_df.copy()
    
    ### renaming columns ###
    new_df.columns = columns

    ### removing columns (obs: we must rename columns that we want to remove as ...'rem'...)
    columns_to_remove = [column for column in columns if 'rem' in column]
    new_df = new_df.drop(columns=columns_to_remove, axis=0)

    ### removing thash rows ###
    new_df = new_df[new_df["region"].notnull()]
    
    return new_df

* define folder_path;
* pass folder_path to get_dfs(folder_path) --> return list_dfs;
* pass list_dfs to get_unique_df() --> return unique_df;
* pass unique_df to get_df_format() --> return new_df;
* save new_df as a csv file.

In [15]:
def get_df(path, skip_rows, columns, number_columns):
    list_dfs = get_dfs(path, number_columns,skip_rows)
    df = get_unique_df(list_dfs)
    df = get_df_format(df, columns)
    return df

In [16]:
teacherEffort_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/EsforcoDocente'
columns = [
           'year', 'region', 'location', 'adm',
           'prim_1', 'prim_2', 'prim_3', 'prim_4', 'prim_5', 'prim_6', #primary education (general)
           'rem_1', 'rem_2', 'rem_3', 'rem_4', 'rem_5', 'rem_6', 
           'rem_1', 'rem_2', 'rem_3', 'rem_4', 'rem_5', 'rem_6',  
           'sec_1', 'sec_2', 'sec_3', 'sec_4', 'sec_5','sec_6' #secondary education (general)
           ]

teacherEffort_df = get_df(teacherEffort_path, 11, columns, 28)

In [17]:
### verifying if there is some differente value in region, adm and location ###
teacherEffort_df['region'].unique() == correct_regions
teacherEffort_df['adm'].unique() == correct_adm
teacherEffort_df['location'].unique() == correct_location

array([ True,  True,  True])

In [18]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/teacherEffort_df.csv'
teacherEffort_df.to_csv(path_to_save)

In [19]:
teacherEffort_df

,year,region,location,adm,prim_1,prim_2,prim_3,prim_4,prim_5,prim_6,sec_1,sec_2,sec_3,sec_4,sec_5,sec_6
0,2017,Brasil,Total,Total,21,18.4,24.2,27.4,6.1,2.9,1,9.2,24.9,43.3,14.6,7
1,2017,Brasil,Urbana,Total,17.6,18.4,25,29.1,6.7,3.2,0.8,8.9,25,43.3,14.8,7.2
2,2017,Brasil,Rural,Total,34.1,15.8,19.6,23.6,4.7,2.2,2.5,12.2,20.3,42.9,15.2,6.9
3,2017,Brasil,Total,Federal,12.2,38.6,28.1,17.4,2.5,1.2,2.8,30.4,32.8,31.1,2.3,0.6
4,2017,Brasil,Urbana,Federal,12.1,38.7,28.2,17.4,2.4,1.2,2.6,29.4,32.8,32.1,2.4,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,2016,Distrito Federal,Urbana,Privada,18.4,17.5,33.9,25.3,3.7,1.2,0.1,7.4,41.8,36.4,10.6,3.7
474,2016,Distrito Federal,Rural,Privada,3.1,0,84.8,9.1,3,0,0,8,76,8,8,0
475,2016,Distrito Federal,Total,Pública,41.2,22,28.7,7.1,0.6,0.4,0.3,9.6,61.7,24.2,2.9,1.3
476,2016,Distrito Federal,Urbana,Pública,40.5,22.2,29.4,6.9,0.6,0.4,0.3,9.6,61.9,24.2,2.8,1.2
477,2016,Distrito Federal,Rural,Pública,49.7,18.4,19.6,10.4,1.1,0.8,0.5,8.5,54.5,26,7.5,3

In [20]:
len(teacherEffort_df['region'].unique())

33

### 3. Students per Class ###

In [21]:
studentsPerClass_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/MediaAlunosTurma'
columns = [
           'year', 'region', 'location', 'adm',
           'elem_0', 'rem_1', 'rem_2',
           'prim_0', 'rem_3', 'rem_4', 'rem_5', 'rem_6', 'rem_7', 'rem_8', 'rem_9', 'rem_10', 'rem_11', 'rem_12', 'rem_13', 'rem_14',  
           'sec_0', 'rem_15', 'rem_16', 'rem_17', 'rem_18', 'rem_19'
           ]

studentPerClass_df = get_df(studentsPerClass_path, 9, columns, 26)
studentPerClass_df

     year  region location       adm elem_0 prim_0 sec_0
0    2017  Brasil    Total     Total   16.3     23  30.4
1    2017  Brasil   Urbana     Total   16.5   24.4  30.9
2    2017  Brasil    Rural     Total   14.7   17.1  22.6
3    2017  Brasil    Total   Federal   14.4   24.5  29.2
4    2017  Brasil   Urbana   Federal   14.7   24.6  29.1
..    ...     ...      ...       ...    ...    ...   ...
473  2014      DF    Rural     Total     18   22.2  29.2
474  2014      DF    Rural   Federal     --     --  31.6
475  2014      DF    Rural  Estadual   18.1     22  27.2
476  2014      DF    Rural   Privada   17.3   29.9    43
477  2014      DF    Rural   Publico   18.1     22  27.7

[6025 rows x 7 columns]

In [22]:
### mapping values there are different of our defined pattern ###
map_region =  {'RO': 'Rondônia', 'AC': 'Acre','AM': 'Amazonas',
                         'RR': 'Roraima', 'PA': 'Pará','AP': 'Amapá','TO': 'Tocantins',
                         'MA': 'Maranhão','PI': 'Piauí','CE': 'Ceará','RN': 'Rio Grande do Norte',
                         'PB': 'Paraíba','PE': 'Pernambuco', 'AL': 'Alagoas','SE': 'Sergipe',
                         'BA': 'Bahia', 'MG': 'Minas Gerais','ES': 'Espírito Santo',
                         'RJ': 'Rio de Janeiro','SP': 'São Paulo','PR': 'Paraná','SC': 'Santa Catarina',
                         'RS': 'Rio Grande do Sul', 'MS': 'Mato Grosso do Sul','MT': 'Mato Grosso',
                         'GO': 'Goiás', 'DF': 'Distrito Federal'}

map_adm = {"Publico": "Pública"}

In [23]:
### function to map values there are possibly diffent from our defined pattern ###
def map_values(df):
    new_df = df.copy()

    new_df['region'] = new_df['region'].replace(map_region)
    new_df['adm'] = new_df['adm'].replace(map_adm)
    return new_df

### check if there are differente values: if yes, return true. if no, return false ###
def check_different_values(df):
    regions_to_sub = [value for value in df['region'].unique() if value not in correct_regions]
    locations_to_sub = [value for value in df['location'].unique() if value not in correct_location]
    adms_to_sub = [value for value in df['adm'].unique() if value not in correct_adm]

    sub = [regions_to_sub, locations_to_sub, adms_to_sub]
    if sum([len(element) for element in sub]) != 0:
        return [regions_to_sub, locations_to_sub, adms_to_sub]
    
    return False

In [24]:
### mapping different values ###
studentPerClass_df = map_values(studentPerClass_df)   

### checking if there are diffent values ###
print(check_different_values(studentPerClass_df))  #those different values are header. then, we should remove it

[['SG_UF', 'SIGLA'], ['TIPOLOCA'], ['Dependad']]

In [25]:
studentPerClass_df

     year            region location       adm elem_0 prim_0 sec_0
0    2017            Brasil    Total     Total   16.3     23  30.4
1    2017            Brasil   Urbana     Total   16.5   24.4  30.9
2    2017            Brasil    Rural     Total   14.7   17.1  22.6
3    2017            Brasil    Total   Federal   14.4   24.5  29.2
4    2017            Brasil   Urbana   Federal   14.7   24.6  29.1
..    ...               ...      ...       ...    ...    ...   ...
473  2014  Distrito Federal    Rural     Total     18   22.2  29.2
474  2014  Distrito Federal    Rural   Federal     --     --  31.6
475  2014  Distrito Federal    Rural  Estadual   18.1     22  27.2
476  2014  Distrito Federal    Rural   Privada   17.3   29.9    43
477  2014  Distrito Federal    Rural   Pública   18.1     22  27.7

[6025 rows x 7 columns]

In [26]:
## removing rows ##
studentPerClass_df = studentPerClass_df[(studentPerClass_df['region'] != 'SG_UF')  & (studentPerClass_df['region'] != 'SIGLA')]
check_different_values(studentPerClass_df)

False

In [27]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/studentPerClass_df.csv'
studentPerClass_df.to_csv(path_to_save)

#### 4. Age Grade Distortion ####

In [28]:
ageGradeDistortion_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/DistorcaoIdadeSerie'

In [29]:
### Passing through files of each year and adding it into the list (edited version of ageGradeDistortion)###
def get_dfs2(folder_path, number_columns, skip_rows):
    list_dfs = []
    for i, file in enumerate(os.listdir(folder_path)):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)

        ### years 2013 2014, 2015, 2016 have a different pattern than the other. Then, treat it in a different manner ###
        if ('2013' in file) or ('2014' in file) or ('2016' in file):
            df = df.drop(columns=1,axis=0)
            df.columns = [i for i in range(number_columns)]
        elif ('2015' in file):
            df = df.drop(columns=[1,2],axis=0)
            df.columns = [i for i in range(number_columns)]

        list_dfs.append(df)

    return list_dfs

def get_df2(path, skip_rows, columns, number_columns):
    list_dfs = get_dfs2(path, number_columns, skip_rows)
    df = get_unique_df(list_dfs)
    df = get_df_format(df, columns)
    return df

In [30]:
columns = [
           'year', 'region', 'location', 'adm',
           'prim_0', 'rem_1', 'rem_2', 'rem_3', 'rem_4', 'rem_5', 'rem_6', 'rem_7', 'rem_8', 'rem_9', 'rem_10', 'rem_11',
           'sec_0', 'rem_13', 'rem_14', 'rem_15', 'rem_16'
           ]

ageGradeDistortion_df = get_df2(ageGradeDistortion_path, 9, columns, 21)
ageGradeDistortion_df

c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

     year            region location        adm prim_0 sec_0
0    2013                RO    Total      Total   27.4  31.1
1    2013                RO    Total   Estadual   31.4  33.9
2    2013                RO    Total    Federal     --  15.3
3    2013                RO    Total  Municipal   26.6    --
4    2013                RO    Total    Privada      5   8.4
..    ...               ...      ...        ...    ...   ...
471  2016  Distrito Federal   Urbana    Privada    3.3   6.3
472  2016  Distrito Federal    Rural    Privada   35.5  39.4
473  2016  Distrito Federal    Total    Pública   22.2  30.6
474  2016  Distrito Federal   Urbana    Pública     22  30.5
475  2016  Distrito Federal    Rural    Pública   24.5  34.5

[6010 rows x 6 columns]

In [31]:
### changing values to match our pattern ###
ageGradeDistortion_df = map_values(ageGradeDistortion_df)

check_different_values(ageGradeDistortion_df)

False

In [32]:
ageGradeDistortion_df

     year            region location        adm prim_0 sec_0
0    2013          Rondônia    Total      Total   27.4  31.1
1    2013          Rondônia    Total   Estadual   31.4  33.9
2    2013          Rondônia    Total    Federal     --  15.3
3    2013          Rondônia    Total  Municipal   26.6    --
4    2013          Rondônia    Total    Privada      5   8.4
..    ...               ...      ...        ...    ...   ...
471  2016  Distrito Federal   Urbana    Privada    3.3   6.3
472  2016  Distrito Federal    Rural    Privada   35.5  39.4
473  2016  Distrito Federal    Total    Pública   22.2  30.6
474  2016  Distrito Federal   Urbana    Pública     22  30.5
475  2016  Distrito Federal    Rural    Pública   24.5  34.5

[6010 rows x 6 columns]

In [33]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/ageGradeDistortion_df.csv'
ageGradeDistortion_df.to_csv(path_to_save)

#### 5. Percentage of Teachers with Higher Education ####

In [34]:
teacherHigherEduc_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/DocentesCursoSuperior'

In [35]:
### Passing through files of each year and adding it into the list (edited version of ageGradeDistortion)###
def get_dfs3(folder_path, number_columns, skip_rows):
    list_dfs = []
    for i, file in enumerate(os.listdir(folder_path)):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)

        ### years 2013 2014, 2015, 2016 have a different pattern than the other. Then, treat it in a different manner ###
        if ('2016' in file):
            df = df.drop(columns=1,axis=0)
            df.columns = [i for i in range(number_columns)]
        elif ('2013' in file) or ('2014' in file) or ('2015' in file) :
            df = df.drop(columns=[1,3],axis=0)
            df.columns = [i for i in range(number_columns)]

        list_dfs.append(df)

    return list_dfs

def get_df3(path, skip_rows, columns, number_columns):
    list_dfs = get_dfs3(path, number_columns, skip_rows)
    df = get_unique_df(list_dfs)
    df = get_df_format(df, columns)
    return df

In [36]:
columns = [
           'year', 'region', 'location', 'adm',
           'elem_0', 'rem_1', 'rem_2',
           'prim_0', 'rem_3', 'rem_4',
           'sec_0', 'rem_5', 'rem_6', 'rem_7'
           ]

teacherHigherEduc_df = get_df3(teacherHigherEduc_path, 10, columns, len(columns))
teacherHigherEduc_df

c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

     year region location        adm elem_0 prim_0 sec_0
0    2013     RO    Total      Total   73.1   86.5  95.9
1    2013     RO    Total    Federal     --     --   100
2    2013     RO    Total   Estadual   92.2   92.8  96.4
3    2013     RO    Total  Municipal   76.9   81.4    --
4    2013     RO    Total    Privada   55.7   78.8  90.8
..    ...    ...      ...        ...    ...    ...   ...
473  2015     DF    Rural      Total   86.4   93.5  97.7
474  2015     DF    Rural    Federal     --     --   100
475  2015     DF    Rural   Estadual   88.7   93.7  97.5
476  2015     DF    Rural    Privada     25   86.2  94.4
477  2015     DF    Rural    Pública   88.7   93.7    98

[6022 rows x 7 columns]

In [37]:
teacherHigherEduc_df = map_values(teacherHigherEduc_df)

check_different_values(teacherHigherEduc_df)

False

In [38]:
teacherHigherEduc_df

     year            region location        adm elem_0 prim_0 sec_0
0    2013          Rondônia    Total      Total   73.1   86.5  95.9
1    2013          Rondônia    Total    Federal     --     --   100
2    2013          Rondônia    Total   Estadual   92.2   92.8  96.4
3    2013          Rondônia    Total  Municipal   76.9   81.4    --
4    2013          Rondônia    Total    Privada   55.7   78.8  90.8
..    ...               ...      ...        ...    ...    ...   ...
473  2015  Distrito Federal    Rural      Total   86.4   93.5  97.7
474  2015  Distrito Federal    Rural    Federal     --     --   100
475  2015  Distrito Federal    Rural   Estadual   88.7   93.7  97.5
476  2015  Distrito Federal    Rural    Privada     25   86.2  94.4
477  2015  Distrito Federal    Rural    Pública   88.7   93.7    98

[6022 rows x 7 columns]

In [39]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/teacherHigherEduc_df.csv'
teacherHigherEduc_df.to_csv(path_to_save)

### 6. Number of Daily Classroom Hours ###

In [40]:
dailyClassroomHours_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/HorasAulaDiaria'

In [41]:
columns = [
           'year', 'region', 'location', 'adm',
           'elem_0', 'rem_1', 'rem_2', 
           'prim_0', 'rem_3', 'rem_4', 'rem_5', 'rem_6', 'rem_7', 'rem_8', 'rem_9', 'rem_10', 'rem_11', 'rem_12', 'rem_13',
           'sec_0', 'rem_14', 'rem_15', 'rem_16','rem_17', 'rem_18'
           ]

dailyClassroomHours_df = get_df3(dailyClassroomHours_path, 10, columns, len(columns))

c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [42]:
dailyClassroomHours_df = map_values(dailyClassroomHours_df)

check_different_values(dailyClassroomHours_df)

False

In [43]:
dailyClassroomHours_df

     year            region location       adm elem_0 prim_0 sec_0
0    2017            Brasil   Urbana     Total    6.1    4.6     5
1    2017            Brasil    Rural     Total    4.7    4.5     5
2    2017            Brasil    Total   Federal    6.8    5.1   6.9
3    2017            Brasil   Urbana   Federal    6.9    5.1   6.6
4    2017            Brasil    Rural   Federal      4    4.5   8.3
..    ...               ...      ...       ...    ...    ...   ...
471  2014  Distrito Federal    Rural     Total    5.4    5.3   5.5
472  2014  Distrito Federal    Rural   Federal     --     --     8
473  2014  Distrito Federal    Rural  Estadual    5.3    5.3   4.9
474  2014  Distrito Federal    Rural   Privada    6.6    7.6   6.8
475  2014  Distrito Federal    Rural   Pública    5.3    5.3   5.3

[6011 rows x 7 columns]

In [44]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/dailyClassroomHours_df.csv'
dailyClassroomHours_df.to_csv(path_to_save)

#### 7. Staff Regularity ####

In [45]:
staffRegularity_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/RegularidadeDocente'

In [46]:
columns = [
           'year', 'region', 'location', 'adm',
           'total_1', 'total_2', 'total_3', 'total_4'
           ]
staffRegularity_df = get_df(staffRegularity_path, 10, columns, len(columns))
staffRegularity_df

,year,region,location,adm,total_1,total_2,total_3,total_4
0,2017,Brasil,Total,Total,13.7,37.6,39.1,9.6
1,2017,Brasil,Urbana,Total,8.8,39.3,44.5,7.4
2,2017,Brasil,Rural,Total,22.9,34.4,29.0,13.7
3,2017,Brasil,Total,Federal,3.0,31.8,60.4,4.8
4,2017,Brasil,Urbana,Federal,3.0,29.9,61.7,5.4
...,...,...,...,...,...,...,...,...
472,2016,Distrito Federal,Urbana,Privada,7.9,47.5,41.4,3.2
473,2016,Distrito Federal,Rural,Privada,0.0,50.0,50.0,0.0
474,2016,Distrito Federal,Total,Pública,11.2,64.4,23.9,0.5
475,2016,Distrito Federal,Urbana,Pública,10.5,64.1,25.0,0.4
476,2016,Distrito Federal,Rural,Pública,16.7,66.7,15.4,1.2

In [47]:
staffRegularity_df = map_values(staffRegularity_df)
check_different_values(staffRegularity_df)

False

In [48]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/staffRegularity_df.csv'
staffRegularity_df.to_csv(path_to_save)

#### 8. Student Perfomance Rates ####

In [49]:
studentPerfomance_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/TaxaRendimento'

In [50]:
### Passing through files of each year and adding it into the list (edited version of ageGradeDistortion)###
def get_dfs4(folder_path, number_columns, skip_rows):
    list_dfs = []
    for i, file in enumerate(os.listdir(folder_path)):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)

        ### years 2013 2014, 2015, 2016 have a different pattern than the other. Then, treat it in a different manner ###
        if ('2016' in file):
            df = df.drop(columns=1,axis=0)
            df.columns = [i for i in range(number_columns)]
        

        list_dfs.append(df)

    return list_dfs

def get_df4(path, skip_rows, columns, number_columns):
    list_dfs = get_dfs4(path, number_columns, skip_rows)
    df = get_unique_df(list_dfs)
    df = get_df_format(df, columns)
    return df

In [51]:
### 1-> approved, 2 -> reproved, 3 -> abandoned ###
columns = [
           'year', 'region', 'location', 'adm',
           'prim_1', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem',
           'sec_1', 'rem', 'rem', 'rem', 'rem', 'rem',
           'prim_2', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem',
           'sec_2', 'rem', 'rem', 'rem', 'rem', 'rem',
           'prim_3', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem',
           'sec_3', 'rem', 'rem', 'rem', 'rem', 'rem'
        ]

studentPerfomance_df = get_df4(studentPerfomance_path, 9, columns, len(columns)) 
studentPerfomance_df

,year,region,location,adm,prim_1,sec_1,prim_2,sec_2,prim_3,sec_3
0,2013,RO,Total,Total,87.4,78.8,10.1,10.7,2.5,10.5
1,2013,RO,Total,Publico,86.7,77.7,10.6,11,2.7,11.3
2,2013,RO,Total,Privada,96.9,92.1,3,7.4,0.1,0.5
3,2013,RO,Total,Municipal,89.3,--,8.7,--,2,--
4,2013,RO,Total,Federal,--,86,--,12.6,--,1.4
...,...,...,...,...,...,...,...,...,...,...
473,2016,Distrito Federal,Total,Privada,98.2,95.4,1.8,4.5,0,0.1
474,2016,Distrito Federal,Total,Federal,98.6,85.2,1.2,13.1,0.2,1.7
475,2016,Distrito Federal,Total,Estadual,87.3,78.5,11.1,16.6,1.6,4.9
476,2016,Distrito Federal,Urbana,Total,90.4,83,8.4,13.4,1.2,3.6
477,2016,Distrito Federal,Rural,Total,87.3,83.5,11.6,12.3,1.1,4.2

In [52]:
### checking if values are equal to pattern ###
studentPerfomance_df = map_values(studentPerfomance_df)
check_different_values(studentPerfomance_df)

[['no_cod'], ['TIPOLOCA'], ['Particular', 'DEPENDAD']]

In [53]:
### removing a incorrect row ###
studentPerfomance_df = studentPerfomance_df[studentPerfomance_df['region'] != 'no_cod']
check_different_values(studentPerfomance_df)

[[], [], ['Particular']]

In [54]:
### replacing remaining incorrect values ###
studentPerfomance_df = studentPerfomance_df.replace({'Particular': 'Privada'})
check_different_values(studentPerfomance_df)

False

In [55]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/studentPerfomance_df.csv'
studentPerfomance_df.to_csv(path_to_save)

#### 9. Teacher Salary ####

In [56]:
columns = [
           'year', 'region', 'adm', 'escolaridade'
           'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem',
           'hoursPerWeek', 'averageSalaryPer40Hours'
        ]

In [57]:
### Passing through files of each year and adding it into the list (edited version of ageGradeDistortion)###
def get_dfs5(folder_path, number_columns, skip_rows):
    list_dfs = []
    for i, file in enumerate(os.listdir(folder_path)):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)
        
        df = df.drop(columns=1,axis=0)
        df.columns = [i for i in range(number_columns)]
        list_dfs.append(df)

    return list_dfs

In [58]:
teacherSalary_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/RemuneracaoDocente'

teacherSalary_dfs = get_dfs5(teacherSalary_path, 13, 10)
teacherSalary_dfs[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2014,AC,Estadual,Superior,5483.0,91.48276,2106.228,2641.38,2783.713,3225.51,957.0266,27.86449,3996.073
1,2014,AC,Estadual,Sem superior,1580.0,73.98734,980.19,1415.13,1657.218,2160.85,866.247,27.19695,2437.358
2,2014,AC,Privada,Total,718.0,74.09471,1606,1970.599,2160.688,2511.65,985.1697,30.88749,2798.14
3,2014,AC,Privada,Superior,564.0,75.00000,1634.41,1988.73,2169.903,2543.69,831.9596,30.27769,2866.669
4,2014,AC,Privada,Sem superior,154.0,70.77922,1397.13,1761.696,2123.656,2312.826,1444.896,33.33825,2548.011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2014,TO,Pública,Superior,14101.0,97.48245,1827.61,2904.45,2906.692,3613.61,1472.976,37.55863,3095.631
241,2014,TO,Pública,Sem superior,3283.0,89.55224,1238.56,1650.78,1643.661,1814.63,626.4267,35.14204,1870.877
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Fonte: Censo da Educação Básica 2014 e Relação...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Notas: (1) - Número de docentes em exercício n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
### selecting only the rows with 'escolaridade do docente' == Total ###
teacherSalary_dfs = [df[df[3] == 'Total'] for df in teacherSalary_dfs]
teacherSalary_dfs[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12
2,2014,AC,Privada,Total,718.0,74.09471,1606,1970.599,2160.688,2511.65,985.1697,30.88749,2798.14
5,2014,AC,Pública,Total,12245.0,79.11801,1727.58,2212.04,2392.384,2974.71,1145.393,31.18284,3068.847
8,2014,AL,Estadual,Total,6815.0,44.03522,1389.96,1492.73,1933.1,2195.47,883.6848,25.89546,2986.005
11,2014,AL,Privada,Total,6927.0,62.72557,758.49,943.68,1241.02,1485.67,755.7832,29.34429,1691.669
14,2014,AL,Pública,Total,31446.0,68.77504,1392.12,1841.19,2091.166,2397.63,1325.402,29.91291,2796.339
...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,2014,SP,Privada,Total,143218.0,81.14413,1304.548,1891.13,2464.566,2876.35,1891.688,31.31786,3147.808
230,2014,SP,Pública,Total,371575.0,97.74393,1982.495,2615.83,2941.501,3497.99,1537.325,32.43142,3627.964
233,2014,TO,Estadual,Total,7374.0,99.18633,2895.54,3344.83,3202.456,3715.89,841.4548,39.99346,3202.979
236,2014,TO,Privada,Total,2132.0,64.49343,1090.94,1605.7,1950.032,2336.54,1567.162,31.38921,2484.971
239,2014,TO,Pública,Total,17384.0,95.98481,1723.83,2447.14,2703.519,3565.72,1448.828,37.1699,2909.364

In [60]:
columns = ['year', 'region', 'adm', 
           'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem', 'rem',
           'hoursPerWeek_1', 'salaryPer40Hours_2']


teacherSalary_df = get_unique_df(teacherSalary_dfs)
teacherSalary_df = get_df_format(teacherSalary_df, columns)

In [61]:
teacherSalary_df['region'] = teacherSalary_df['region'].replace(map_region)

In [62]:
teacherSalary_df.dtypes

year                  object
region                object
adm                   object
hoursPerWeek_1        object
salaryPer40Hours_2    object
dtype: object

In [63]:
try:
    teacherSalary_df[['hoursPerWeek_1', 'salaryPer40Hours_2']].astype('float64')
except ValueError as e:
    print(e)

could not convert string to float: '*'

In [64]:
## checking rows with "*" values ##
teacherSalary_df[(teacherSalary_df['hoursPerWeek_1'] == "*") | (teacherSalary_df['salaryPer40Hours_2'] == "*")]

     year          region       adm hoursPerWeek_1 salaryPer40Hours_2
161  2014  Rio de Janeiro  Estadual              *                  *
167  2014  Rio de Janeiro   Pública              *                  *

In [65]:
## dropping them ##
teacherSalary_df = teacherSalary_df[(teacherSalary_df['hoursPerWeek_1'] != "*") & (teacherSalary_df['salaryPer40Hours_2'] != "*")]

## changing dtypes ##
try:
    teacherSalary_df[['hoursPerWeek_1', 'salaryPer40Hours_2']] = teacherSalary_df[['hoursPerWeek_1', 'salaryPer40Hours_2']].astype('float64')
except ValueError as e:
    print(e)

In [66]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/teacherSalary_df.csv'
teacherSalary_df.to_csv(path_to_save)

In [67]:
[region for region in teacherSalary_df['region'].unique() if region not in correct_regions] # all regions are correct
[adm for adm in teacherSalary_df['adm'].unique() if adm not in correct_adm] # all adm are correct

[]

In [68]:
teacherSalary_df

     year            region       adm  hoursPerWeek_1  salaryPer40Hours_2
2    2014              Acre   Privada        30.88749            2798.140
5    2014              Acre   Pública        31.18284            3068.847
8    2014           Alagoas  Estadual        25.89546            2986.005
11   2014           Alagoas   Privada        29.34429            1691.669
14   2014           Alagoas   Pública        29.91291            2796.339
..    ...               ...       ...             ...                 ...
227  2020             Goiás   Privada        28.55776            3058.731
230  2020             Goiás   Pública        35.75151            5234.276
233  2020  Distrito Federal  Estadual        33.62677            7583.562
236  2020  Distrito Federal   Privada        27.38122            5457.459
239  2020  Distrito Federal   Pública        33.79133            7748.634

[558 rows x 5 columns]

#### 10. INSE ####

In [69]:
INSE_path = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/INSE'

### Passing through files of each year and adding it into the list (edited version of ageGradeDistortion)###
def get_dfs5(folder_path, number_columns, skip_rows):
    list_dfs = []
    for i, file in enumerate(os.listdir(folder_path)):
        file_path = os.path.join(folder_path, file)
        df = pd.read_excel(file_path,skiprows=skip_rows, header=None)
        
        df = df.drop(columns=1,axis=0)
        df.columns = [i for i in range(number_columns)]
        list_dfs.append(df)

    return list_dfs

In [70]:
INSE_dfs = []
for i, file in enumerate(os.listdir(INSE_path)):
    file_path = os.path.join(INSE_path, file)
    df = pd.read_excel(file_path,skiprows=1, header=None)

    if '2021' in file:
        df = df.drop(columns=0)
        df.columns = [i for i in range(16)]
        
    
    INSE_dfs.append(df)

In [71]:
inse1 = INSE_dfs[0].copy()
inse2 = INSE_dfs[1].copy()

inse1['year'] = 2019
inse2['year'] = 2021

INSE_df = pd.concat([inse1, inse2], axis=0)
INSE_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,year
0,CO_UF,SIGLA_UF,NOME_UF,TP_TIPO_REDE,TP_LOCALIZACAO,TP_CAPITAL,QTD_ALUNOS_INSE,MEDIA_INSE*,PC_NIVEL_1,PC_NIVEL_2,PC_NIVEL_3,PC_NIVEL_4,PC_NIVEL_5,PC_NIVEL_6,PC_NIVEL_7,PC_NIVEL_8,2019
1,11,RO,Rondônia,0,0,0,57100,4.86,0.31,14.51,21.45,23.77,18.83,11.27,8.43,1.42,2019
2,11,RO,Rondônia,0,0,1,15541,5.04,0.24,12.16,18,20.85,19.31,14.29,12.44,2.71,2019
3,11,RO,Rondônia,0,0,2,41559,4.78,0.34,15.49,22.9,24.99,18.63,10.01,6.76,0.88,2019
4,11,RO,Rondônia,0,1,0,50616,4.88,0.31,14.25,20.83,23.11,18.97,11.84,9.15,1.56,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,53,DF,Distrito Federal,6,1,1,61184,5.35,0.23,3.72,9.62,19.72,25.35,20.9,17.75,2.7,2021
1697,53,DF,Distrito Federal,6,1,2,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1698,53,DF,Distrito Federal,6,2,0,3149,5.13,0.39,6.91,14.35,23.52,24.16,16.44,12.57,1.67,2021
1699,53,DF,Distrito Federal,6,2,1,3149,5.13,0.39,6.91,14.35,23.52,24.16,16.44,12.57,1.67,2021
1700,53,DF,Distrito Federal,6,2,2,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

In [72]:
### removing incorrect row ###
INSE_df = INSE_df[INSE_df[0] != 'CO_UF']

### renaming columns ###
columns = ['rem', 'rem', 
          'region', 'adm', 'location', 'capital', 
          'rem', 
          'media_0', 'inse_1', 'inse_2', 'inse_3', 'inse_4', 'inse_5', 'inse_6', 'inse_7', 'inse_8', 'year'
        ]

INSE_df.columns = columns
INSE_df

,rem,rem,region,adm,location,capital,rem,media_0,inse_1,inse_2,inse_3,inse_4,inse_5,inse_6,inse_7,inse_8,year
1,11,RO,Rondônia,0,0,0,57100,4.86,0.31,14.51,21.45,23.77,18.83,11.27,8.43,1.42,2019
2,11,RO,Rondônia,0,0,1,15541,5.04,0.24,12.16,18,20.85,19.31,14.29,12.44,2.71,2019
3,11,RO,Rondônia,0,0,2,41559,4.78,0.34,15.49,22.9,24.99,18.63,10.01,6.76,0.88,2019
4,11,RO,Rondônia,0,1,0,50616,4.88,0.31,14.25,20.83,23.11,18.97,11.84,9.15,1.56,2019
5,11,RO,Rondônia,0,1,1,14468,5.07,0.26,11.65,17.34,20.36,19.56,14.73,13.2,2.89,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,53,DF,Distrito Federal,6,1,1,61184,5.35,0.23,3.72,9.62,19.72,25.35,20.9,17.75,2.7,2021
1697,53,DF,Distrito Federal,6,1,2,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1698,53,DF,Distrito Federal,6,2,0,3149,5.13,0.39,6.91,14.35,23.52,24.16,16.44,12.57,1.67,2021
1699,53,DF,Distrito Federal,6,2,1,3149,5.13,0.39,6.91,14.35,23.52,24.16,16.44,12.57,1.67,2021
1700,53,DF,Distrito Federal,6,2,2,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

In [73]:
### selecting only rows with capital = 0 (Total) ###
INSE_df = INSE_df[INSE_df['capital'] == 0]

### removing rows with adm = 5 ###
INSE_df = INSE_df[INSE_df['adm'] != 5]

### removing columns ###
INSE_df = INSE_df.drop(columns='capital')
INSE_df = INSE_df.drop(columns=[column for column in INSE_df.columns if 'rem' in column])

In [74]:
### mapping location and adm columns ###
map_location2 = {0: 'Total', 1: 'Urbana', 2: 'Rural'}
map_adm2 = {0: 'Total', 1: 'Federal', 2: 'Estadual', 3: 'Municipal', 4:'Privada', 6: 'Pública'}

INSE_df['location'] = INSE_df['location'].replace(map_location2)
INSE_df['adm'] = INSE_df['adm'].replace(map_adm2)

In [75]:
check_different_values(INSE_df)

False

In [76]:
INSE_df

,region,adm,location,media_0,inse_1,inse_2,inse_3,inse_4,inse_5,inse_6,inse_7,inse_8,year
1,Rondônia,Total,Total,4.86,0.31,14.51,21.45,23.77,18.83,11.27,8.43,1.42,2019
4,Rondônia,Total,Urbana,4.88,0.31,14.25,20.83,23.11,18.97,11.84,9.15,1.56,2019
7,Rondônia,Total,Rural,4.64,0.35,16.43,26.18,28.69,17.84,7.04,3.08,0.4,2019
10,Rondônia,Federal,Total,5.1,0.09,5.03,16.84,25.99,23.41,15.62,12.23,0.79,2019
13,Rondônia,Federal,Urbana,5.18,0,5.1,14.49,23.19,24.15,18.17,13.77,1.13,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,Distrito Federal,Privada,Urbana,6.4,0.0,0.11,0.95,2.7,8.07,17.24,44.99,25.94,2021
1680,Distrito Federal,Privada,Rural,4.26,4.43,37.2,26.07,13.4,7.69,6.65,3.18,1.39,2021
1692,Distrito Federal,Pública,Total,5.34,0.24,3.88,9.86,19.91,25.29,20.68,17.49,2.65,2021
1695,Distrito Federal,Pública,Urbana,5.35,0.23,3.72,9.62,19.72,25.35,20.9,17.75,2.7,2021
1698,Distrito Federal,Pública,Rural,5.13,0.39,6.91,14.35,23.52,24.16,16.44,12.57,1.67,2021

In [77]:
INSE_df['adm'].unique()

array(['Total', 'Federal', 'Estadual', 'Municipal', 'Privada', 'Pública'],
      dtype=object)

In [78]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/INSE_df.csv'
INSE_df.to_csv(path_to_save)

#### 11. IDEB ####

In [79]:
ideb_path = "C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/OriginalData/IDEB/ideb.xlsx"

ideb_df = pd.read_excel(ideb_path)
ideb_df

,region,adm,math_prim1,port_prim1,prim1_grade,math_prim2,port_prim2,prim2_grade
0,Norte,Total,197.71,189.14,5.180727,246.11,250.64,4.945833
1,Norte,Pública,198.76,191.06,5.235715,242.43,247.09,4.825333
2,Norte,Privada,236.55,231.49,6.693222,281.95,285.21,6.119333
3,Norte,Estadual,211.18,204.93,5.72533,244.07,248.34,4.873500
4,Rondônia,Total,206.34,199.23,5.529165,251.46,253.14,5.076667
...,...,...,...,...,...,...,...,...
123,Goiás,Estadual,225.27,213.39,6.148443,258.86,260.54,5.323333
124,Distrito Federal,Total,237.92,229.75,6.687747,267.51,267.29,5.580000
125,Distrito Federal,Pública,225.21,218.09,6.232792,255.36,256.99,5.205833
126,Distrito Federal,Privada,270.87,259.99,7.867413,303.48,297.79,6.687833
127,Distrito Federal,Estadual,225.21,218.09,6.232792,254.36,256.26,5.177000

In [80]:
ideb_df['math_prim1'].unique()  # '-' invalid char " 
ideb_df['port_prim1'].unique()  # '-' invalid char #

array([189.14, 191.06, 231.49, 204.93, 199.23, 195.05, 233.58, 203.19,
       205.42, 202.08, 247.27, 212.04, 200.39, 196.73, 240.16, 211.13,
       201.44, 196.84, 236.44, '-', 190.81, 186, 224.9, 197.22, 192.42,
       187.17, 233.97, 193.45, 194.34, 189.19, 241.43, 200.82, 196.75,
       192.24, 230.63, 190.17, 188.87, 181.24, 227.72, 178.28, 203.81,
       195.62, 243.31, 218.25, 220.91, 214.85, 241.63, 244.6, 193.89,
       182.06, 231.43, 186.32, 198.57, 188.47, 232.17, 189.13, 199.1,
       190.29, 221.33, 215.34, 201.28, 191.83, 233.85, 187.37, 193.18,
       179.64, 227.16, 189.2, 199.47, 190.3, 230.4, 219.38, 216.65,
       209.98, 245.68, 214.25, 216.08, 210.25, 252.39, 213.78, 215.14,
       209.88, 247.25, 216.15, 208.2, 196.97, 235.53, 208.1, 220.84,
       213.94, 249.05, 214.44, 219.85, 215.54, 248.93, 214.33, 220.42,
       216.45, 243.62, 245.53, 225.88, 220.76, 255.46, 217.98, 216.69,
       210.86, 250.21, 212.22, 212.03, 206.57, 245.45, 210.06, 205.04,
       199.75, 242.68, 199, 205.85, 199.98, 243.68, 200.15, 213.83,
       208.97, 237.39, 213.39, 229.75, 218.09, 259.99], dtype=object)

In [81]:
# it's only 1 row. then, we will remove it for simplicity #
ideb_df = ideb_df[ideb_df['math_prim1'] != '-']

# turning columns into float dtype #
ideb_df['math_prim1'] = ideb_df['math_prim1'].astype('float64')
ideb_df['port_prim1'] = ideb_df['port_prim1'].astype('float64')
ideb_df['prim1_grade'] = ideb_df['prim1_grade'].astype('float64')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\2801891389.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['math_prim1'] = ideb_df['math_prim1'].astype('float64')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\2801891389.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['port_prim1'] = ideb_df['port_prim1'].astype('float64')
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\2801891389.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['prim1_grade'] = ideb_df['prim1_grade'].astype('float64')

In [82]:
## adding columns to sumarize primary education ##
ideb_df['port_prim'] =  (ideb_df['port_prim1'] + ideb_df['port_prim2'] ) / 2
ideb_df['math_prim'] =  (ideb_df['math_prim1'] + ideb_df['math_prim2'] ) / 2
ideb_df['prim_grade'] = (ideb_df['prim1_grade'] + ideb_df['prim2_grade']) / 2
ideb_df['year'] = 2021

## removing columns that we don't need anymore ###
ideb_df = ideb_df.drop(columns=['port_prim1', 'port_prim2', 'math_prim1', 'math_prim2', 'prim1_grade', 'prim2_grade'])
ideb_df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\765412329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['port_prim'] =  (ideb_df['port_prim1'] + ideb_df['port_prim2'] ) / 2
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\765412329.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['math_prim'] =  (ideb_df['math_prim1'] + ideb_df['math_prim2'] ) / 2
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\765412329.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['prim_grade'] = (ideb_df['prim1_grade'] + ideb_df['prim2_grade']) / 2
C:\Users\Usuario\AppData\Local\Temp\ipykernel_20292\765412329.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ideb_df['year'] = 2021

               region       adm  port_prim  math_prim  prim_grade  year
0               Norte     Total    219.890    221.910    5.063280  2021
1               Norte   Pública    219.075    220.595    5.030524  2021
2               Norte   Privada    258.350    259.250    6.406277  2021
3               Norte  Estadual    226.635    227.625    5.299415  2021
4            Rondônia     Total    226.185    228.900    5.302916  2021
..                ...       ...        ...        ...         ...   ...
123             Goiás  Estadual    236.965    242.065    5.735888  2021
124  Distrito Federal     Total    248.520    252.715    6.133873  2021
125  Distrito Federal   Pública    237.540    240.285    5.719313  2021
126  Distrito Federal   Privada    278.890    287.175    7.277623  2021
127  Distrito Federal  Estadual    237.175    239.785    5.704896  2021

[127 rows x 6 columns]

In [83]:
path_to_save = 'C:/Users/Usuario/Documents/Portfólio/Sistema Educacional Brasileiro/data/sqlData/firstStep/IDEB_df.csv'
ideb_df.to_csv(path_to_save)